<div class="quality">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4 quality-item">
                <i class="fa fa-heart-o quality-icon"></i>
                <h4>We love children</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="col-md-4 quality-item">
                <i class="fa fa-flask quality-icon"></i>
                <h4>High Quality Products</h4>
                <p>German Made, etc. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="col-md-4 quality-item">
                <i class="fa fa-trophy quality-icon"></i>
                <h4>Best in it's category</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>		 				
        </div>
    </div>
</div>