---
layout: default
---

{% include wrap.html %}

<div class="container mt mb">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>
            {{ content }}
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Edades:</b> {{ page.edades }}</p>
            <p><b>Altura:</b> {{ page.altura }}</p>
            <p><b>Caida Libre:</b> {{ page.caida_libre }}</p>
            <p><b>Superficie:</b> {{ page.superficie }}</p>
        </div>

    </div>
</div>